@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";
}
<div class="container">

    <section class="wrapper login sx">
        <div class="d1 step1" style="max-width:500px !important;">
            <img src="~/design/images/i1.png">
            <span>Tra cứu thông tin đơn hàng</span>
            <form id="frmGetCodeOrder">
                <input type="text" id="txtCodeOrder" required="" placeholder="Nhập mã đơn hàng">
                <label class="hide"></label>
                <button type="button" class="btn getOderDetailByCode">Tiếp tục</button>
            </form>
        </div>
    </section>
</div>
