
@{
    ViewData["Title"] = "OrderComplete";
    Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";
}
<!-- Page Header -->
<div class="page-header">
    <div class="container">
        <h1 class="inner-title">
            Đơn hàng đã hoàn tất
        </h1>
    </div>
</div>
<!-- End Page Header -->
<!-- Thanh toán -->
<div class="section-8">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-9">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="inner-section-5">
                            <div class="inner-icon-success">
                                <i class="fa-solid fa-check"></i>
                            </div>
                            <div class="inner-title">
                                Cảm ơn đơn hàng của bạn.
                            </div>
                            <div class="inner-desc">
                                Chúng tôi đã gửi cho bạn một biên lai xác nhận đến <span>levana@gmail.com.</span>
                            </div>
                            <div class="inner-order-id">
                                ID ĐƠN HÀNG: <span>#12345678-12345678</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="inner-section-6">
                            <div class="inner-title">
                                Cách để cài đặt một eSIM
                            </div>
                            <div class="inner-desc">
                                Bạn có thể cài đặt eSIM của mình ngay bây giờ bằng cách truy cập chi tiết eSIM.
                            </div>
                            <a href="#" class="inner-button">
                                <i class="fa-solid fa-microchip"></i>
                                <span>Vào chi tiết eSIM</span>
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="inner-section-1">
                    <div class="inner-image">
                        <img src="assets/images/banner/banner-12.png" alt="">
                    </div>
                    <div class="inner-info type-2">
                        <div class="inner-title">
                            Xin Chao
                        </div>
                        <div class="sim-package-info">
                            <ul class="inner-list">
                                <li>
                                    <span class="inner-label">
                                        <i class="fa-solid fa-globe"></i> PHẠM VI PHỦ SÓNG
                                    </span>
                                    <span class="inner-value">
                                        Việt Nam
                                    </span>
                                </li>
                                <li>
                                    <span class="inner-label">
                                        <i class="fa-solid fa-right-left inner-rotate-90"></i> DỮ LIỆU
                                    </span>
                                    <span class="inner-value">
                                        1 GB
                                    </span>
                                </li>
                                <li>
                                    <span class="inner-label">
                                        <i class="fa-solid fa-phone-volume"></i> CUỘC GỌI
                                    </span>
                                    <span class="inner-value">
                                        10 Phút
                                    </span>
                                </li>
                                <li>
                                    <span class="inner-label">
                                        <i class="fa-solid fa-message"></i> TIN NHẮN
                                    </span>
                                    <span class="inner-value">
                                        10 SMS
                                    </span>
                                </li>
                                <li>
                                    <span class="inner-label">
                                        <i class="fa-solid fa-calendar"></i> HIỆU LỰC
                                    </span>
                                    <span class="inner-value">
                                        7 Ngày
                                    </span>
                                </li>
                                <li>
                                    <span class="inner-label">
                                        <i class="fa-solid fa-tag"></i> GIÁ
                                    </span>
                                    <span class="inner-value inner-price">
                                        US $15.00
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="inner-section-7">
                    <div class="inner-sub-title">Từ đơn hàng này, bạn đã nhận được</div>
                    <div class="inner-title">US $0.23 Airmoney</div>
                    <div class="inner-rank">
                        <div class="inner-labels">
                            <span class="inner-label-left">Cấp độ tiếp theo</span>
                            <span class="inner-label-right">Du khách Bạc</span>
                        </div>
                        <div class="inner-process">
                            <div class="inner-complete" style="width: 25%;"></div>
                        </div>
                    </div>
                    <div class="inner-price">
                        <span>US $15.50</span>
                        <span>SỐ TIỀN CÒN LẠI</span>
                    </div>
                </div>
                <div class="inner-section-3 show-mobile">
                    <div class="inner-title type-2">
                        Chi tiết thanh toán
                    </div>
                    <div class="inner-list-price">
                        <div class="inner-price">
                            <span class="inner-label">PHƯƠNG THỨC THANH TOÁN</span>
                            <span class="inner-value">
                                <img src="assets/images/icons/icon-visa.svg" alt="">
                                **** 4590
                            </span>
                        </div>
                        <div class="inner-price">
                            <span class="inner-label">TỔNG GIÁ</span>
                            <span class="inner-value">
                                US $4.50
                            </span>
                        </div>
                    </div>
                    <div class="inner-button">
                        <a href="#" class="inner-button-complete inner-full">
                            XEM CHI TIẾT eSIM
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Thanh toán -->
